<html>
    <head>
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache" />
        <META HTTP-EQUIV="Expires" CONTENT="0" />

        <title>Processor Testing</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>

    <body>
        <br />
        <div class="ui container">
            <!-- START: MENU -->
            <div class="ui top attached menu">
                <div class="header item">START MENU</div>

                <div class="header item">
                    <div class="ui form">
                        <div class="inline fields">
                            <label>Choose your UX </label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input
                                        type="radio"
                                        name="vaultModel"
                                        checked="checked"
                                        onclick="onCheckClick(event)"
                                        value="firstTime"
                                    />
                                    <label>First Time</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input
                                        type="radio"
                                        name="vaultModel"
                                        onclick="onCheckClick(event)"
                                        value="returning"
                                    />
                                    <label>Returning</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="header item">
                    <div class="ui checkbox">
                        <input
                            type="checkbox"
                            id="use_PayPal_Auth_Assertion"
                            checked="true"
                        />
                        <label> With PayPal Auth Assertion In Head </label>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <div>
                    <p class="ui yellow pointing below label">With Purchase</p>
                    <div style="margin-left: 12px" class="ui segment">
                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('checkout_ACDC')"
                        >
                            <div class="ui primary button">ACDC</div>
                        </a>

                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('checkout_PayPal')"
                        >
                            <div class="ui primary button">PayPal</div>
                        </a>
                        <a class="ui pointing below green label">
                            Returning UX is the same with "Without Purchase"
                        </a>
                    </div>
                </div>

                <div style="margin-top: 12px">
                    <p class="ui yellow pointing below label">
                        Without Purchase
                    </p>
                    <div style="margin-left: 12px" class="ui segment">
                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('save_paypal')"
                        >
                            <div class="ui primary button">Save PayPal</div>
                        </a>

                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('save_card')"
                        >
                            <div class="ui primary button">Save Card</div>
                        </a>
                        <a class="ui pointing green label">
                            Returning UX is the same with "With Purchase"
                        </a>
                    </div>
                </div>

                <div style="margin-top: 12px" class="ui segment">
                    <a
                        href="javascript:void(0);"
                        onclick="onNavClick('checkout_API')"
                    >
                        <div class="ui primary button">API Vault</div>
                    </a>
                    <a class="ui tag red label">
                        In [API Vault] case, First Time and Returning are the
                        same
                    </a>
                </div>
            </div>
        </div>

        <%- include("./miniPart/clientID_display_panel.ejs",{ clientIDConfigs })
        %>

        <div class="ui container segment">
            踩坑注意: (补充中...)
            <div class="ui segment">
               Please go to <i><b>https://paypal.sharepoint.com/:x:/r/sites/GPS/Shared Documents/For Customers/Partners/INTL Partners/Growth/China/1. Partner Solutions/0 General/Vault/Vault Test Issue Collection.xlsx</b></i> for more reference.
            </div>
        </div>
    </body>
    <script>
        function onCheckClick() {
            //Do nothing
        }

        function onNavClick(route) {
            let currentModel;
            let is_use_PAYPAL_AUTH_ASSERTION;

            document.getElementsByName("vaultModel").forEach((element) => {
                if (element.checked) currentModel = element.value;
            });

            is_use_PAYPAL_AUTH_ASSERTION = document.getElementById(
                "use_PayPal_Auth_Assertion"
            ).checked;

            if (is_use_PAYPAL_AUTH_ASSERTION) {
                const thirdPartyChecked = document.getElementById(
                    "thirdPartyClientIDsSelect"
                ).value;

                if (!thirdPartyChecked){
                    window.alert("Please Choose Client Information!")
                    return;
                }
                // debugger;
            } else {
                const firstPartyChecked = document.getElementById(
                    "firstPartyClientIDsSelect"
                ).value;

                if (!firstPartyChecked){
                    window.alert("Please Choose Client Information!")
                    return;
                } 
            }

            // return;
            window.open(
                `${window.location.href}${route}?model=${currentModel}&is_use_PAYPAL_AUTH_ASSERTION=${is_use_PAYPAL_AUTH_ASSERTION}&route=${route}`
            );
        }
    </script>
</html>
