<html>
    <head>
        <title>Processor Testing</title>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>

    <body>
        <br />
        <div class="ui container">
            <!-- START: MENU -->
            <div class="ui top attached menu">
                <div class="header item">START MENU</div>

                <div class="header item">
                    <div class="ui form">
                        <div class="inline fields">
                            <label>Choose your UX </label>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input
                                        type="radio"
                                        name="vaultModel"
                                        checked="checked"
                                        onclick="onCheckClick(event)"
                                        value="firstTime"
                                    />
                                    <label>First Time</label>
                                </div>
                            </div>
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input
                                        type="radio"
                                        name="vaultModel"
                                        onclick="onCheckClick(event)"
                                        value="returning"
                                    />
                                    <label>Returning</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div class="header item">
                    <div class="ui checkbox">
                        <input type="checkbox" id="use_PayPal_Auth_Assertion" />
                        <label> With PayPal Auth Assertion In Head </label>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached segment">
                <div>
                    <p class="ui yellow pointing below label">With Purchase</p>
                    <div style="margin-left: 12px" class="ui segment">
                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('checkout_ACDC')"
                        >
                            <div class="ui primary button">ACDC</div>
                        </a>

                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('checkout_PayPal')"
                        >
                            <div class="ui primary button">PayPal</div>
                        </a>
                        <a class="ui pointing below green label">
                            Returning UX is the same with "Without Purchase"
                        </a>
                    </div>
                </div>

                <div style="margin-top: 12px">
                    <p class="ui yellow pointing below label">
                        Without Purchase
                    </p>
                    <div style="margin-left: 12px" class="ui segment">
                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('save_paypal')"
                        >
                            <div class="ui primary button">Save PayPal</div>
                        </a>

                        <a
                            href="javascript:void(0);"
                            onclick="onNavClick('save_card')"
                        >
                            <div class="ui primary button">Save Card</div>
                        </a>
                        <a class="ui pointing green label">
                            Returning UX is the same with "With Purchase"
                        </a>
                    </div>
                </div>

                <div style="margin-top: 12px" class="ui segment">
                    <a
                        href="javascript:void(0);"
                        onclick="onNavClick('checkout_API')"
                    >
                        <div class="ui primary button">API Vault</div>
                    </a>
                    <a class="ui tag red label">
                        In [API Vault] case, First Time and Returning are the
                        same
                    </a>
                   
                </div>
            </div>
        </div>

        <div class="ui container segment">
            踩坑注意: (补充中...)
            <div class="ui segment">
                1. remiks上ACDC的文档是v1的,不是v2的, vault的文档也是v2的不是v3的 <br/>
                2. online doc上3rd party关于vault的文档是v2的, 不是v3的, 但是1st party的文档是正确的. vault v2与v3 src标签中的 "data-user-id-token"的叫法不一样, v2中叫"data-client-token", token的生成函数也不同<br/>
                3. 在所有的sdk vault的场景中, 有且只有ACDC+vault without purchase这个场景中是不需要"data-user-id-token"的, 其他的都是需要的<br/>
                4. 不是所有的测试card suit都可以完成ACDC的测试, PayPal页面中的测试卡生成页面的都不可以, BrainTree的测试卡的测试卡信息可以, 这可能是由于vault是基于BT来做的
            </div>
        </div>
    </body>
    <script>
        function onCheckClick() {
            //Do nothing
        }

        function onNavClick(route) {
            let currentModel;
            let is_use_PAYPAL_AUTH_ASSERTION;

            document.getElementsByName("vaultModel").forEach((element) => {
                if (element.checked) currentModel = element.value;
            });

            is_use_PAYPAL_AUTH_ASSERTION = document.getElementById(
                "use_PayPal_Auth_Assertion"
            ).checked;

            window.open(
                `${window.location.href}${route}?model=${currentModel}&is_use_PAYPAL_AUTH_ASSERTION=${is_use_PAYPAL_AUTH_ASSERTION}&route=${route}`
            );
        }
    </script>
</html>
