
<div class="ui segment  container" >
    <div class="ui container" style="margin-bottom: 1rem;">
        <div class="ui red big horizontal label" >PayPal Smart Payment Button Display</div>
    </div>
    <div id="paypal-button-container"></div>
</div>
<script>
    
</script>