<div>
    <div class="ui container segment">
        <div>
            <table class="ui padded table">
                <tbody>
                    <thead>
                        <tr>
                            <th colspan="2">3rd party information</th>
                        </tr>
                       
                    </thead>
                    <tr>
                        <td style="width: 12rem">当前ClientID:</td>
                        <td>
                            <div
                                class="ui input fluid"
                                style="margin-left: 2rem"
                            >
                                <input
                                    type="text"
                                    placeholder="3rd party Client ID"
                                    id="client_id"
                                />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>当前SecretKey:</td>
                        <td>
                            <div
                                class="ui input fluid"
                                style="margin-left: 2rem"
                            >
                                <input
                                    type="text"
                                    placeholder="3rd party Secret key"
                                    id="secret_key"
                                />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>当前3rd Party Merchant:</td>
                        <td>
                            <div
                                class="ui input fluid"
                                style="margin-left: 2rem"
                            >
                                <input
                                    type="text"
                                    placeholder="3rd party ISU Merchant ID"
                                    id="3rdPartyMerchantID"
                                />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="ui padded table">
                <tbody>
                    <thead>
                        <tr>
                            <th colspan="2">1st party information</th>
                        </tr>
                       
                    </thead>
                    <tr>
                        <td style="width: 12rem">当前ClientID:</td>
                        <td>
                            <div
                                class="ui input fluid"
                                style="margin-left: 2rem"
                            >
                                <input
                                    type="text"
                                    placeholder="1st party Client ID"
                                    id="client_id"
                                />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>当前SecretKey:</td>
                        <td>
                            <div
                                class="ui input fluid"
                                style="margin-left: 2rem"
                            >
                                <input
                                    type="text"
                                    placeholder="1st party Secret key"
                                    id="secret_key"
                                />
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
