<div class="ui container segment" id="first_time_result_area">
    <div>Transaction Detail Display Area</div>
    <div>
        Transaction ID:
        <div class="ui input" style="margin-left: 2rem">
            <input
                type="text"
                placeholder="Completed Transaction ID"
                id="result_txn_id"
            />
        </div>
    </div>
    <div>
        Customer ID return in success:
        <div class="ui input" style="margin-left: 2rem">
            <input
                type="text"
                placeholder="Completed Customer ID"
                id="result_customer_id"
            />
        </div>
    </div>
    <div>
        Vault ID return in success:
        <div class="ui input" style="margin-left: 2rem">
            <input
                type="text"
                placeholder="Completed Vault ID"
                id="result_vault_id"
            />
        </div>
    </div>
</div>
