<div class="ui segment container">
    Order Amount:
    <div class="ui input" style="margin-left: 2rem">
        <input type="text" placeholder="Change Amount" id="amount_input" />
    </div>
</div>
<script>
    const amount_input = document.getElementById("amount_input");
    let amount = 100 + Math.floor(Math.random() * 100);
    amount_input.value = amount;
</script>
